$premiere-couleur: #153131;
$deuxième-couleur: #6a7fdb;
$police-principale: "Quicksand";
@font-face {
    font-family: "Quicksand";
    src: url(../../font/Quicksand/Quicksand-VariableFont_wght.ttf);
}